@media (min-width: 962px){
.item {
    margin: 13px 80px 0px 67px;
}
}
.figure{
    display: block;
}
.search a{
    list-style: none;
    color: rgb(8, 8, 8);
    text-decoration: none;
}
.login a{
    list-style: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
}